<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top mb-2" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pouet.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#if navHome}}active{{/if}}" aria-current="page" href="/">Maison</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if navList}}active{{/if}}" href="/article/list">Lis des trucs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if navUser}}active{{/if}}" href="/user/register">Créer son compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if navAdherentInscription}}active{{/if}}" href="/adherent/inscription">Demande d'adhésion</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/eventType/Manage" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {{#if navAdherentManage}}active{{/if}}" href="/adherent/manage">Gestion des adhérents</a></li>
            <li><a class="dropdown-item {{#if navAdherentGroups}}active{{/if}}" href="/adherent/groups">Gestion des groupes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item {{#if navEventTypeManage}}active{{/if}}" href="/eventType/manage">Gestion des types d'évènements</a></li>
            <li><a class="dropdown-item {{#if navCategoryManage}}active{{/if}}" href="/category/manage">Gestion des catégories</a></li>
            <li><a class="dropdown-item {{#if navTeamManage}}active{{/if}}" href="/team/manage">Gestion des catégories de poids</a></li>
            <li><a class="dropdown-item {{#if navProfilManage}}active{{/if}}" href="/profil/manage">Gestion des profils utilisateurs</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav d-flex me-5">
        {{#if username}}
          <a class="btn btn-outline-success d-flex me-3" href="/user/read"><i class="bi bi-person-gear pe-2"></i> Gérer {{username}}</a>
         
          
        {{/if}}
        <li class="nav-item me-2">
          <a class="btn btn-outline-{{#if username}}danger rounded-pill{{else}}success px-4{{/if}} d-flex me-3" {{#if username}}href="/user/logout"><i class="bi bi-box-arrow-right"></i>
            {{else}}
            href="/user/login"> Se connecter
            {{/if}}
          </a>
<<<<<<< HEAD

        </li>
        <li>
           <button class="btn aside-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
               Coach Dashboard
          </button>
          
=======
        </li>
         <li>
           <button class="btn aside-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
               Coach Dashboard
          </button>
>>>>>>> 4fa19292a32b86519e39deeedc7b27f10e1e801b
        </li>
      </ul>
      <form class="d-flex" role="search" action="/article/search" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" id="searchInput" name="search"
          aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Gestion des Entraîneurs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group vh-75"> 
      <li class="list-group-item active" aria-current="true">
        <a href="/coach/meeting">Créer une Réunion et Notification</a>
      </li>
      <li class="list-group-item">
        <a href="/coach/modify-team">Modifier une Équipe Déjà Formée</a> 
      </li>
      <li class="list-group-item">
        <a href="/coach/injury-notifications">Notification de Blessure</a>
      </li>
      <li class="list-group-item">
        <a href="/coach/availability-notifications">Notification de Disponibilité des Combattants</a> 
      </li>
    </ul>
  </div>
</div>

<style>
  .list-group-item a {
    text-decoration: none; 
    color: inherit; 
    transition: color 0.3s;
  }

  .list-group-item a:hover {
    color: white;
  }
<<<<<<< HEAD
</style>

=======
</style>
>>>>>>> 4fa19292a32b86519e39deeedc7b27f10e1e801b
