<h1 style="text-align: center;">Absence</h1>

<div class="container p-5">
    <form action="/absence" method="post">

        <div class="mb-3">

            <div class="row">
                <div class="col">
                    <label for="blessure">Blessure</label>
                    <input type="text" class="form-control mb-3" name="blessure" placeholder="Blessure"
                        aria-label="blessure">
                </div>
                
            </div>

            <div class="row">
                <div class="col">
                    <label for="date">Date</label>
                    <input class="form-control" type="date" id="date" name="date">
                </div>
                <div class="col">
                    <label for="date">à</label>
                    <input class="form-control" type="date" id="dateFin" name="dateFin">
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-success mb-3 mt-3" type="submit">Envoyer</button>
                </div>
            </div>
    </form>

    <table class="table table-hover border border-success">
        <thead>
            <tr>
                <th>Date</th>
                <th>Blessure</th>
            </tr>
        </thead>
        <tbody>
            {{#each adherent.injuries}}
            <tr>
                <td>{{moment date_start format="DD/MM/YY"}} à {{moment date_end format="DD/MM/YY"}}</td>
                <td>{{this.injury_wording}}</td>
            </tr>
            {{/each}}

        </tbody>

    </table>
</div>