<h1 style="text-align: center;">Absence</h1>

<div class="container">
    <form action="/absence" method="post">

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control mb-3" name="nom" placeholder="Nom" aria-label="nom">
                </div>
                <div class="col">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control mb-3" name="prenom" placeholder="Prenom" aria-label="prenom">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="blessure">Blessure</label>
                    <input type="text" class="form-control mb-3" name="blessure" placeholder="Blessure"
                        aria-label="blessure">
                </div>
                <div class="col">
                    <label for="categorie">Catégorie</label>
                    <input type="text" class="form-control mb-3" name="categorie" placeholder="Catégorie"
                        aria-label="categorie">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="date">Date</label>
                    <input class="form-control" type="date" id="date" name="date">
                </div>
                <div class="col">
                    <label for="date">à</label>
                    <input class="form-control" type="date" id="dateFin" name="dateFin">
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-success mb-3 mt-3" type="submit">Envoyer</button>
                </div>
            </div>
    </form>

    <table class="table table-hover border border-success">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Catégorie</th>
                <th>Date</th>
                <th>Blessure</th>
            </tr>
        </thead>
        <tbody>
{{#each adherent.injury}}
    <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>... à ...</td>
                <td>...</td>
            </tr>
{{/each}}

        </tbody>

    </table>
</div>