<main class="container-fluid vh-100">
  <section class="row">
    <h1 class="text-center">Notification de Disponibilité</h1>
    <article>
      <div class="col-md-4 col-lg-3">
        <div class="list-group">
          <div class="mb-1 info-coach-card">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
              <h2 class="mb-1">Disponibilité</h2>
              <small>Il y a 3 jours</small>
            </div>
            <p class="mb-1">Abdelrahman AMAN</p>
            <div class="card-body mb-5 mt-5">
              <h5 class="card-title">Détails du Message</h5>
              <p class="card-text">Disponibilité du 01/01/2024 au 01/02/2024</p>
            </div>
            <div class="float-end">
              <a href="/delete/notifcation/:id" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
              </a>
              <button type="button" class="btn btn-primary mark-as-read">Marquer comme lu</button>
            </div>
          </div>
        </div>
      </div>
    </article>
     <article>
      <div class="col-md-4 col-lg-3">
        <div class="list-group">
          <div class="mb-1 info-coach-card">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
              <h2 class="mb-1">Disponibilité</h2>
              <small>Il y a 3 jours</small>
            </div>
            <p class="mb-1">Abdelrahman AMAN</p>
            <div class="card-body mb-5 mt-5">
              <h5 class="card-title">Détails du Message</h5>
              <p class="card-text">Disponibilité du 01/01/2024 au 01/02/2024</p>
            </div>
            <div class="float-end">
              <a href="/delete/notifcation/:id" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
              </a>
              <button type="button" class="btn btn-primary mark-as-read">Marquer comme lu</button>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
<style>

</style>
<script>
  document.querySelectorAll('.mark-as-read').forEach(function(button) {
    button.addEventListener('click', function(event) {
      const container = event.target.closest('.info-coach-card');
      container.classList.add('read');
    });
  });
<<<<<<< HEAD
</script>
=======
</script>
>>>>>>> 8c309f6abc38d5f671b3814f69ad393ea5188c1c
